<!DOCTYPE html>
<html>
<head>
    <title>.TsirpTsirp.</title>
</head>
<body>
    <h1>Hello!</h1>

    {% if session.user_id %}
        <p>Tsirp Tsirp! You are logged in as {{ session.username }}</p>
        <a href="/logout">Log out</a>

        <form action="/send" method="post">
            <label for="topic_content">Insert topic:</label><br>
            <textarea name="topic_content" id="topic_content" rows="1" cols="30"></textarea><br>
            
            <label for="topic_comment">Insert first comment:</label><br>
            <textarea name="topic_comment" id="topic_comment" rows="3" cols="30"></textarea><br>
            
            <input type="submit" value="Create">
        </form>
        <hr>

        {% for message in messages %}
            <div>
                <!--THIS IS DEBUG LINE: <i>Topic ID:</i> {{ message[0] }}<br> -->
                
                <i>Topic:</i> {{ message[1] }}<br>
                <i>Comment:</i> {{ message[2] }}<br>
                <p>
                <i>Created by:</i> {{ message[3] }}
                <a href="thread/{{ message[0] }}">Convo Thread {{ message[0] }}</a>
            </div>
            <hr>
        {% endfor %}

    {% else %}
        <form action="/login" method="post">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username">
            <br>
            <br>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password">
            <br>
            <input type="submit" value="Log in">
        </form>
        <p>If you don't have an account, you can create a new account <a href="/register">here</a>.</p>
    {% endif %}
</body>
</html>