<form action="/register" method="post">
   Firstname: 
   <p>
   <input type="text" name="firstname">
   <p>
   Lastname: 
   <p>
   <input type="text" name="lastname">
   <p>
   Age: 
   <p>
   <input type="text" name="age">
   <p>
   Hometown: 
   <p>
   <input type="text" name="city">
   <p>
   Username: 
   <p>
   <input type="text" name="username">
   <p>
   Password: 
   <p>
   <input type="password" name="password1">
   <p>
   Password again: 
   <p>
   <input type="password" name="password2">
   <p>
   <input type="submit" value="Create account">
</form>
<p>Go back to login-page <a href="/">from here</a></p>