<form action="/register" method="post">
   Tunnus: 
   <p>
   <input type="text" name="username">
   <p>
   Ikä: 
   <p>
   <input type="text" name="age">
   <p>
   Asuinkaupunkisi: 
   <th>! tässä oletetaan toistaiseksi, että kirjoitat olemassa olevan kaupungin !</th>
   <p>
   <input type="text" name="city">
   <p>
   Salasana: 
   <p>
   <input type="password" name="password1">
   <p>
   Salasana uudestaan: 
   <p>
   <input type="password" name="password2">
   <p>
   <input type="submit" value="Luo tunnus">
   </form>
   palaa takaisin kirjautumis-sivulle<a href="/"> tästä</a>